<template>

  <div class="col-large push-top">

    <h1>{{ thread.title }}</h1>

    <post-list :posts="threadPosts" />
    <post-editor @save="addPost"/>
  </div>
</template>

<script>
import sourceData from '@/data.json'
import PostList from "@/components/PostList";
import PostEditor from "@/components/PostEditor";
export default {
  components: {PostEditor, PostList},
  props:{
    id:{
      required:true,
      type:String
    }
  },
  name: "PageThreadShow",
  data(){
    return {
      threads: sourceData.threads,
      posts : sourceData.posts,
      users : sourceData.users,
      newPostText : ''
    }
  },
  computed:{
    thread(){
      return this.threads.find(thread=> thread.id===this.id /*this.$route.params.id*/) //TODO : https://router.vuejs.org/guide/essentials/passing-props.html
    },
    threadPosts(){
      return this.posts.filter(post => post.threadId === this.id)
    }
  },
  methods:{
    addPost(eventData){
      const postId = eventData.id
      const post={
/*        id: eventData.id,
        text : eventData.text,
        publishedAt : eventData.publishedAt, //Seconds since 1980,
        userId : eventData.userId*/
        ...eventData.post,
        threadId : this.id,
      }
      this.posts.push(post)
      this.thread.posts.push(postId)
    }
  }
}
</script>

<style scoped>

</style>
