<template>
  <time :title="datePublished" >
    {{ diffForHumans}}
  </time>
</template>

<script>
import dayjs from "dayjs";
import relativeTime from 'dayjs/plugin/relativeTime'
import LocalizedFormat from 'dayjs/plugin/localizedFormat'
dayjs.extend(relativeTime)
dayjs.extend(LocalizedFormat)
export default {
  name: "AppDate",
  props:{
    timestamp:{
      type:Number,
      required : true
    }
  },
  computed:{
    diffForHumans(){
      return dayjs.unix(this.timestamp).fromNow()
    },
    datePublished(){
      return dayjs.unix(this.timestamp).format('llll')
    }
  }
}
</script>

<style scoped>

</style>
