<template>
  <div class="col-full">
    <form @submit.prevent="save">
      <div class="form-group">
        <textarea v-model="text" name="" id="" cols="30" rows="10" class="form-input"></textarea>
      </div>
      <div class="form-actions">
        <button class="btn-blue">Submit Post</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "PostEditor",
  data(){
    return {
      text : ''
    }
  },
  methods:{
    save(){
      const post={
        id: 'gggg' + Math.random(),
        text : this.text,
        publishedAt : Math.floor(Date.now()/1000), //Seconds since 1980,
        userId : "gqtsZwq4CbggLL5txWBcmBLlQRw5o"
      }
      this.$emit('save', {post})
      this.text=''
    }
  }
}
</script>

<style scoped>

</style>
