<template>
  <!--emmet https://www.jetbrains.com/help/phpstorm/using-zen-coding-support.html -->
  <div class="container">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
@import "assets/style.css";
</style>
